/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: auto;
  background-color: black;
  text-align: center;
}

h3 {
	margin-top:4vw;
  color: black;
  font-weight: normal;
    font-size: 16px;
}

p{
	margin-top:4vw;
  color: white;
  font-size: 16px;
}

.homepage{
	text-align: left;
	position: absolute;
	top: -2vw;
	right: 2vw;
	left:90vw;
}

.rectangle {
	height: 5.4vw;
    width: 0.4vw;
    background-color: white;
    position: absolute;
    right: 11vw;
    top: 2vw;
}

img{
/* margin-top:1vw; */
  height:72vh;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.left{
  width:60px;
  height:25px;
  position: relative;
	left: -18vw;
	top: -2.2vw;

}
.right{
  width:60px;
  height:25px;
  position: relative;
	right: -17vw;
    top: -3.8vw;

}

button{
	background-color: transparent;
	color: transparent;
	border: transparent;
    width: 70px;
    cursor: pointer;
    padding: 10px;
}

.button-left{
  position: absolute;
  left: 29.6vw;
	top:40.7vw;
  z-index:1;
}

.button-right{
  position: absolute;
  right: 30.6vw;
    top:40.7vw;
  z-index:1;
}

.week-1{
	color:white;
	position:absolute;
	left:2vw;
	top:-2.3vw;
}

.week-2{
	color:white;
	position:absolute;
	left:2vw;
	top:-1vw;
}

.days{
	color:white;
	position:absolute;
	left:2vw;
	top:0.4vw;
}

a{
	text-decoration:none;
	color: white;
  	font-size: 16px;
}

a:hover{
	color: #B0C4DE;
	font-style:italic;
}

@media only screen and (max-width: 600px) {

	.homepage {
		position: absolute;
		top: -2vw;
		right: 4vw;
		left:80vw;
  }
  	.rectangle {
	height: 12vw;
    width: 0.4vw;
    background-color: white;
    position: absolute;
    right: 22vw;
    top: 2vw;
}
	.week-1{
	color:white;
	position:absolute;
	left:2vw;
	top:-2.3vw;
}

	.week-2{
	color:white;
	position:absolute;
	left:2vw;
	top:1.4vw;
}

.days{
	color:white;
	position:absolute;
	left:2vw;
	top:5vw;
	}
img{
	margin-top:15vw;
}

.left{
    position: relative;
    left: -40vw;
    top: -22.2vw;

}
.right{
    position: relative;
    right: -40vw;
    top: -41.8vw;
}

.button-left{
  position: absolute;
  left: 4.7vw;
	top:121.7vw;
  z-index:1;
}

.button-right{
    position: absolute;
    right: 2.6vw;
    top: 121.7vw;
    z-index: 1;
	}
}