*{
	font-family: helvetica;
}
/* 
body{
	display:flex;
	background-color:white;
	justify-content: left;
	align-items: left;
	transition:0.5s;
}
 */

ul {
	position:relative;
	width:300px;
}

ul li{
	list-style: none;
	margin:0;
}

ul li a{
	color: black;
	font-size: 40pt;
	text-decoration: none;
/* 	transition: 0.5s; */
}

ul:hover li a{
	color: rgba(0,0,0,.1);
}

ul li a:hover{
	color:#fff;
	text-shadow: 0 2px 2px rgba(0,0,0,.2);
	text-decoration: underline;
	font-style:italic;
}