	$black: #000000;
	$z-index-cursor: 500;
	
*{
	cursor:none;
}
:root {
  --cursor-size: 56px;
  --bg: #fff1d0;
}

.page-wrap {
  background: var(--bg);
  min-height: 100vh;
}

#cursor {
  position: fixed;
  top: calc(var(--cursor-size) * -0.5);
  left:  calc(var(--cursor-size) * -0.5);
  pointer-events: none;
  mix-blend-mode: difference;  
  filter: url(#goo);
}

.cursor-circle {
  position: absolute;
  top: 0;
  left: 0;
  width: var(--cursor-size);
  height: var(--cursor-size);
  border-radius: var(--cursor-size);
  background: var(--bg);
  transform-origin: center center;
}

body {
  overflow-x: hidden;
  cursor: none;
}

h1 {
  margin: 0;
  font-size: 148px;
  line-height: 1;
  font-family: sans-serif;
  text-transform: uppercase;
  user-select: none;
}

.goo {
  display: none;
}

ul {
	font-family: helvetica;
	position:relative;
	width:300px;
}

ul li{
	list-style: none;
	margin:0;
}

ul li a{
	color: black;
	font-size: 40pt;
	text-decoration: none;
}

ul:hover li a{
	color: rgba(0,0,0,.1);
}

ul li a:hover{
	color:#fff;
	text-shadow: 0 2px 2px rgba(0,0,0,.2);
	text-decoration: underline;
	font-style:italic;
}

