
.flex-container {
  display: flex;
  min-height: 96vh;
  width: 80vh;
  margin: 0 auto;
  display:block;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  align-content: center;

}

a {
font-family: Arial, Helvetica, sans-serif;
text-align: center;
margin: 0 auto;
display:block;
text-decoration: none;
color: black;
}

a:hover {
color: red;
font-weight: bold;
}

.menu{
position: absolute;
top: 5%;
left: 4%;
}

.back {
left: 9%;
right: 90%;
bottom: 5%;
position: absolute;
}

.next {
right: 10%;
left:90%;
bottom: 5%;
position: absolute;
}