
.image {
position: absolute;
left:29%;
top:14%;
}

#one {
position: absolute;
left: 76%;
right: 20%;
top: 10%; 
bottom: 10%;
}
#two {
position: absolute;
left: 16%;
right: 80%;
top: 10%;
bottom: 10%;
}

.button-hover {

    color: #000;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.3s ease-in-out;
    opacity: 0.5;
}

.button-hover:hover {
    opacity: 1;
    transform: scale(1.5);
}

