body{
	background-color: black;
	font-family: helvetica;
	height:70vw;
}

.homepage{
	text-align: left;
	position: absolute;
	top: -2vw;
	right: 2vw;
	left:90vw;
	margin-top:4vw;
	color: white;
	font-size: 16px;
}

.week-1{
	color:white;
	position:absolute;
	left:2vw;
}

.week-2{
	color:white;
	position:absolute;
	top:2vw;
	left:2vw;
}

.time-1{
	color:white;
	position:relative;
	left:67vw;
	top:-108vw;
}
.time-2{
	color:white;
	position:relative;
	left:67vw;
	top:-98.3vw;
}
.time-3{
	color:white;
	position:relative;
	left:67vw;
	top:-88.2vw;
}
.time-4{
	color:white;
	position:relative;
	left:67vw;
	top:-78.8vw;
}
.time-5{
	color:white;
	position:relative;
	left:67vw;
	top:-69vw;
}

.text-one{
	color:white;
	position:relative;
	left:67vw;
	top:-122.5vw;
	text-decoration:underline;
}

.text-two{
	color:white;
	position:relative;
	left:67vw;
	top:-111.7vw;
	text-decoration:underline;
}

.text-three{
	color:white;
	position:relative;
	left:67vw;
	top:-100.6vw;
	text-decoration:underline;
}
.text-four{
	color:white;
	position:relative;
	left:67vw;
	top:-90.2vw;
	text-decoration:underline;
}

.text-five{
	color:white;
	position:relative;
	left:67vw;
	top:-79.6vw;
	text-decoration:underline;
}

.w{
    color: white;
    position: relative;
    top: -13vw;
    left: 3.5vw;
}

.t{
    color: white;
    position: relative;
    top: -21.8vw;
    left: 3.2vw;
}

.f{
    color: white;
    position: relative;
    top: -29.8vw;
    left: 2.7vw;
}

.sat{
    color: white;
    position: relative;
    top: -37.5vw;
    left: 3.4vw;
}

.sund{
    color: white;
    position: relative;
    top: -45.6vw;
    left: 4.5vw;

}



.rectangle {
	height: 5.4vw;
    width: 0.4vw;
    background-color: white;
    position: absolute;
    right: 11vw;
    top: 2vw;
}

.rectangle-2 {
    height: 65vw;
    width: 1vw;
    background-color: white;
    position: absolute;
    left: 50vw;
    right: 50vw;
    top: 12vw;
}

.rectangle-3, .rectangle-4, .rectangle-5, .rectangle-6, .rectangle-7, .rectangle-8 {
    height: 0.2vw;
    width: 100vw;
    background-color: white;
    position: absolute;
    left: 0vw;
    right: 50vw;
}
.rectangle-3 {
    top: 12vw;
}

.rectangle-4 {
    top: 25vw;
}
.rectangle-5 {
    top: 38vw;
}

.rectangle-6 {
    top: 51vw;
}
.rectangle-7 {
    top: 64vw;
}
.rectangle-8 {
    top: 77vw;
}

.green{
    position: relative;
    left: 50.4vw;
	top: 11.34vw;
}

.white{
    position: relative;
    left: 36.6vw;
    top: 24.66vw;
}

.red{
	position: relative;
    left: 22.4vw;
    top: 37.66vw;
}

.sun{
    position: relative;
    left: 8.2vw;
    top: 50.6vw;
}

.pink{
    position: relative;
    left: -6vw;
    top: 63.58vw;
    z-index: 0;
}

h1{
    color: white;
    font-size: 8vw;
}

.one{
	position: relative;
    top: -7.4vw;
    left: 1vw;
}

.two{
    position: relative;
    top: -16vw;
    left: 1vw;
}

.three{
	position: relative;
    top: -24vw;
    left: 1vw;
}

.four{
	position: relative;
    top: -32vw;
    left: 1vw;
}

.five{
	position: relative;
    top: -40vw;
    left: 1vw;
}

a{
	text-decoration:none;
	color: white;
  	font-size: 16px;
}

a:hover{
	color: #B0C4DE;
	font-style:italic;
}

@media only screen and (max-width: 600px) {

	.homepage {
		position: absolute;
		top: -2vw;
		right: 4vw;
		left:80vw;
  }
  	.rectangle {
	height: 12vw;
    width: 0.4vw;
    background-color: white;
    position: absolute;
    right: 22vw;
    top: 2vw;
}
	.week-1{
	color:white;
	position:absolute;
	left:2vw;
	top:-2.3vw;
}

	.week-2{
	color:white;
	position:absolute;
	left:2vw;
	top:1.4vw;
}

.days{
	color:white;
	position:absolute;
	left:2vw;
	top:5vw;
	}
	
img{
	height:65px;
	width:80px;
}
	.one{
	position: relative;
    top: -9vw;
    left: 1vw;
}

.two{
    position: relative;
    top: -16vw;
    left: 1vw;
}

.three{
	position: relative;
    top: -24vw;
    left: 1vw;
}

.four{
	position: relative;
    top: -32vw;
    left: 1vw;
}

.five{
	position: relative;
    top: -40vw;
    left: 1vw;
	}
.rectangle-2{
	top:6rem;
	height:50rem;
	}
.rectangle-3{
	position:absolute;
	top:6rem;
}
.rectangle-4{
	position:absolute;
	top:13rem;
}
.rectangle-5{
	position:absolute;
	top:20rem;
}
.rectangle-6{
	position:absolute;
	top:27rem;
}
.rectangle-7{
	position:absolute;
	top:34rem;
}
.rectangle-8{
	position:absolute;
	top:41rem;
}
.rectangle-9{
	position:absolute;
	top:48rem;
}

}