body{
	background-color: black;
	font-family: helvetica;
	height:70vw;
}

.homepage{
	text-align: left;
	position: absolute;
	top: -2vw;
	right: 2vw;
	left:90vw;
	margin-top:4vw;
	color: white;
	font-size: 16px;
}

.week-1{
	color:white;
	position:absolute;
	left:2vw;
}

.week-2{
	color:white;
	position:absolute;
	top:2vw;
	left:2vw;
}

.days{
	color:white;
	position:absolute;
	top:3.5vw;
	left:2vw;
}

.time-1{
	color:white;
	position:relative;
	left:67vw;
	top:-109vw;
}
.time-2{
	color:white;
	position:relative;
	left:67vw;
	top:-99.3vw;
}
.time-3{
	color:white;
	position:relative;
	left:67vw;
	top:-89.2vw;
}
.time-4{
	color:white;
	position:relative;
	left:67vw;
	top:-79.8vw;
}
.time-5{
	color:white;
	position:relative;
	left:67vw;
	top:-70vw;
}

.text-one{
	color:white;
	position:relative;
	left:67vw;
	top:-123.5vw;
	text-decoration:underline;
}

.text-two{
	color:white;
	position:relative;
	left:67vw;
	top:-112.7vw;
	text-decoration:underline;
}

.text-three{
	color:white;
	position:relative;
	left:67vw;
	top:-101.6vw;
	text-decoration:underline;
}
.text-four{
	color:white;
	position:relative;
	left:67vw;
	top:-91.2vw;
	text-decoration:underline;
}

.text-five{
	color:white;
	position:relative;
	left:67vw;
	top:-80.6vw;
	text-decoration:underline;
}

.w{
	color:white;
	position:relative;
	top:-13vw;
	left: 2.5vw;
}

.t{
    color: white;
    position: relative;
    top: -21.8vw;
    left: 3.3vw;
}

.f{
    color: white;
    position: relative;
    top: -29.8vw;
    left: 4vw;
}

.sat{
    color: white;
    position: relative;
    top: -37.5vw;
    left: 3.4vw;
}

.sund{
    color: white;
    position: relative;
    top: -45.6vw;
    left: 3.5vw;

}



.rectangle {
	height: 5.4vw;
    width: 0.4vw;
    background-color: white;
    position: absolute;
    right: 11vw;
    top: 2vw;
}

.rectangle-2 {
    height: 65vw;
    width: 1vw;
    background-color: white;
    position: absolute;
    left: 50vw;
    right: 50vw;
    top: 12vw;
}

.rectangle-3, .rectangle-4, .rectangle-5, .rectangle-6, .rectangle-7, .rectangle-8 {
    height: 0.2vw;
    width: 100vw;
    background-color: white;
    position: absolute;
    left: 0vw;
    right: 50vw;
}
.rectangle-3 {
    top: 12vw;
}

.rectangle-4 {
    top: 25vw;
}
.rectangle-5 {
    top: 38vw;
}

.rectangle-6 {
    top: 51vw;
}
.rectangle-7 {
    top: 64vw;
}
.rectangle-8 {
    top: 77vw;
}

.black{
	position:relative;
	left:51vw;
	top:10vw;
}

.white{
	position: relative;
    left: 39vw;
    top: 23.7vw;
}

.red{
    position: relative;
    left: 24vw;
    top: 37.5vw;
}

.sun{
	position: relative;
    left: 9.1vw;
    top: 49.8vw;
}

.pink{
    position: relative;
    left: -6vw;
    top: 62.9vw;
    z-index: 0;
}

h1{
    color: white;
    font-size: 8vw;
}

.one{
	position: relative;
    top: -7.4vw;
    left: 1vw;
}

.two{
    position: relative;
    top: -16vw;
    left: 1vw;
}

.three{
	position: relative;
    top: -24vw;
    left: 1vw;
}

.four{
	position: relative;
    top: -32vw;
    left: 1vw;
}

.five{
	position: relative;
    top: -40vw;
    left: 1vw;
}

a{
	text-decoration:none;
	color: white;
  	font-size: 16px;
}

a:hover{
	color: #B0C4DE;
	font-style:italic;
}

@media only screen and (max-width: 600px) {

	.homepage {
		position: absolute;
		top: -2vw;
		right: 4vw;
		left:80vw;
  }
  	.rectangle {
	height: 12vw;
    width: 0.4vw;
    background-color: white;
    position: absolute;
    right: 22vw;
    top: 2vw;
}
	.week-1{
	color:white;
	position:absolute;
	left:2vw;
	top:-2.3vw;
}

	.week-2{
	color:white;
	position:absolute;
	left:2vw;
	top:1.4vw;
}

.days{
	color:white;
	position:absolute;
	left:2vw;
	top:5vw;
	}
	
img{
	height:90px;
	width:100px;
}
	.one{
	position: relative;
    top: 15vw;
    left: 1vw;
}

.two{
    position: relative;
    top: 14vw;
    left: 1vw;
}

.three{
	position: relative;
    top: 13vw;
    left: 1vw;
}

.four{
	position: relative;
    top: 12vw;
    left: 1vw;
}

.five{
	position: relative;
    top: 12vw;
    left: 1vw;
	}
.rectangle-2{
	top:6rem;
	height:40rem;
	}
.rectangle-3{
	position:absolute;
	top:6rem;
}
.rectangle-4{
	position:absolute;
	top:13rem;
}
.rectangle-5{
	position:absolute;
	top:20rem;
}
.rectangle-6{
	position:absolute;
	top:27rem;
}
.rectangle-7{
	position:absolute;
	top:34rem;
}
.rectangle-8{
	position:absolute;
	top:41rem;
}
.rectangle-9{
	position:absolute;
	top:48rem;
}
.w{
    position: relative;
    top: 9vw;
    left: 1vw;
}

.t{
    position: relative;
    top: 8vw;
    left: 1vw;
}

.f{
    position: relative;
    top: 7vw;
    left: 1vw;
}

.sat{
    position: relative;
    top: 6vw;
    left: 1vw;
}

.sund{
    position: relative;
    top: 6vw;
    left: 1vw;

}
.time-1{
	position:absolute;
	left:76vw;
	top:18vw;
}
.time-2{
	position:absolute;
	left:76vw;
	top:40vw;
}
.time-3{
	position:absolute;
	left:76vw;
	top:63vw;
}
.time-4{
	position:absolute;
	left:76vw;
	top:85vw;
}
.time-5{
	position:absolute;
	left:76vw;
	top:108vw;
}
.text-one{
	position:absolute;
	left:76vw;
	top:25vw;
	text-decoration:underline;
}

.text-two{
	position:absolute;
	left:76vw;
	top:47vw;
	text-decoration:underline;
}

.text-three{
	position:absolute;
	left:76vw;
	top:70vw;
	text-decoration:underline;
}
.text-four{
	position:absolute;
	left:76vw;
	top:92vw;
	text-decoration:underline;
}

.text-five{
	position:absolute;
	left:76vw;
	top:115vw;
	text-decoration:underline;
}
.black{
    position: absolute;
    left: 51vw;
	top: 21vw;
}

.white{
    position: absolute;
    left: 51vw;
    top: 44vw;
}

.red{
	position: absolute;
    left: 51vw;
    top: 66vw;
}

.sun{
    position: absolute;
    left: 51vw;
    top: 89vw;
}

.pink{
    position: absolute;
    left: 51vw;
    top: 111vw;
    z-index: 0;
}
}