* {
  box-sizing: border-box;
}

@font-face {
      font-family: 'Druk Wide';
      src: url('Druk-WideMedium.woff2') format('woff2'),
          url('Druk-WideMedium.woff') format('woff');
      font-weight: 400;
      font-style: normal;
}

@font-face {
      font-family: 'Druk Wide Super';
      src: url('Druk-WideSuper.woff2') format('woff2'),
          url('Druk-WideSuper.woff') format('woff');
      font-weight: normal;
      font-style: normal;
}

/* Create two equal columns that floats next to each other */
.title{
	font-family: 'druk wide';
	font-size: 20pt;
	position: absolute;
	left: 42.5%;
    top: 7vh;
    text-decoration: underline;
}

.homepage{
	font-family: 'druk wide';
	font-size: 10pt;
	position: absolute;
	left:3%;
    top: 2vh;
    text-decoration: underline;
}

.coombs{
	font-family: 'druk wide';
	font-size: 10pt;
	position: absolute;
	left: 89%;
    top: 2vh;
    text-decoration: underline;
}

.v1 {
  border-left: 6px solid black;
  height: 580vh;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 25.5%;
}

.column-0 {
  float: left;
  width: 50%;
  padding: 18px;
  height:17vh;
}
.column, .column-2, .column-3, .column-4, .column-5,
.column-6, .column-7, .column-8 {
  float: left;
  width: 50%;
  padding: 18px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

.q {
	font-family: 'druk wide';
	font-size: 1.6vw;
	text-align: right;
	margin-left:53%;
}

.a {
	font-family: 'helvetica', sans-serif;
	font-size: 1.3vw;;
	line-height: 4vh;
	text-align: left;
	margin-top:3.9%;
	margin-right:50%;
}

/* BAUHAUS */
.showme-1{
	border: 2px solid blue;
	padding:10px;
	font-family: 'helvetica', sans-serif;
    font-size: 10pt;
    font-weight: bold;
    font-style: italic;
    line-height: 15pt;
    text-align: center;
    position: absolute;
    top: 32vh;
    left: 79vw;
    right: 11vh;
    text-decoration: none;
}

.showme-1{ 
display: none;
}
.showhim-1:hover .showme-1{
display : block;
}
.showhim-1:hover .ok-1{
display : none;
}

/* SHIRA */
.showme{
	border: 2px solid blue;
	padding:10px;
	font-family: 'helvetica', sans-serif;
    font-size: 10pt;
    font-weight: bold;
    font-style: italic;
    line-height: 15pt;
    text-align: center;
    position: absolute;
    top: 142vh;
    left: 79vw;
    right: 11vh;
    text-decoration: none;
}

.showme{ 
display: none;
}
.showhim:hover .showme{
display : block;
}
.showhim:hover .ok{
display : none;
}

/* ISSUES */
.showme-2{
	border: 2px solid blue;
	padding:10px;
	font-family: 'helvetica', sans-serif;
    font-size: 1vw;
    font-weight: bold;
    font-style: italic;
    line-height: 15pt;
    text-align: center;
    position: absolute;
    top: 200vh;
    left: 79vw;
    right: 11vh;
    text-decoration: none;
}
.issue-img{
width: 14vw;
padding:5px;
}
.showme-2{ 
display: none;
}
.showhim-2:hover .showme-2{
display : block;
}
.showhim-2:hover .ok-2{
display : none;
}

/* CAPITAL G AND D */
.showme-3{
	border: 2px solid blue;
	padding:10px;
	font-family: 'helvetica', sans-serif;
    font-size: 10pt;
    font-weight: bold;
    font-style: italic;
    line-height: 15pt;
    text-align: center;
    position: absolute;
    top: 260vh;
    left: 79vw;
    right: 11vh;
    text-decoration: none;
}

.showme-3{ 
display: none;
}
.showhim-3:hover .showme-3{
display : block;
}
.showhim-3:hover .ok-3{
display : none;
}

/* deflates that purpose */
.showme-4{
	border: 2px solid blue;
	padding:10px;
	font-family: 'helvetica', sans-serif;
    font-size: 10pt;
    font-weight: bold;
    font-style: italic;
    line-height: 15pt;
    text-align: center;
    position: absolute;
    top: 530vh;
    left: 79vw;
    right: 11vh;
    text-decoration: none;
}

.showme-4{ 
display: none;
}
.showhim-4:hover .showme-4{
display : block;
}
.showhim-4:hover .ok-4{
display : none;
}

/* deflates that purpose */
.showme-5{
	border: 2px solid blue;
	padding:10px;
	font-family: 'helvetica', sans-serif;
    font-size: 10pt;
    font-weight: bold;
    font-style: italic;
    line-height: 15pt;
    text-align: center;
    position: absolute;
    top: 566vh;
    left: 79vw;
    right: 11vh;
    text-decoration: none;
}

.showme-5{ 
display: none;
}
.showhim-5:hover .showme-5{
display : block;
}
.showhim-5:hover .ok-5{
display : none;
}

.box, .bauhaus, .issues, .deflate, .manifest{
	font-family: 'helvetica', sans-serif;
	font-weight: bold;
	border: 1px solid blue;
	padding:5px;
}
.sarah{
	font-family: 'helvetica', sans-serif;
	font-weight: bold;
	text-decoration: none;
}

.shira {
	margin: 0px;
	background-color: #ffffff;
	border: 1px solid blue;
	padding: 5px;
	font-family: 'helvetica', sans-serif;
	font-weight: bold;
	text-decoration: underline;
}

.link{
	position: relative;
	left: 40vw;
	top: 15vh;
}

.link:hover{
	color:orange;
}

a {
	font-family: 'Druk Wide';
	color: black;
}

a:hover {
	color: blue;
	font-style:italic;
}
.column-end{
	margin-top: 488vh;
    margin-bottom: 20vh;
}

.hide-link{
	display:none;
	opacity:0;
}