* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'windsor';
  src: url('../font/windsor.woff2') format('woff2'),
       url('../font/windsor.woff') format('woff');
  font-style: normal;
}

body {
  background-color: white;
  overflow: auto;
}

.row{
display: flex;
}

.row-2{
display: flex;
width: 260%;
background-color:black;
margin-top:5%;
margin-left:-1%;
}

.link{
font-family: 'windsor';
font-size: 25pt;
color: white;
text-decoration: none;
position: absolute;
left:45%;
right:30%;
}

.link:hover{
font-size: 25pt;
color: red;
font-style: italic;
text-decoration: underline;
}

img {
	filter: gray;
	-webkit-filter: grayscale(1);
	-webkit-transition: all .4s ease-in-out;  
}

img:hover {
	filter: none;
	-webkit-filter: grayscale(0);
	-webkit-transform: scale(1.01);
}

.col {
  padding-left: 10px;
  padding-right: 10px;
  border: 2px red;
  float: left;
  width: 50%;
}

.col-2 {
    width: 30%;
    text-align: right;
    font-family: helvetica;
    font-size: 13pt;
}

.col-3 {
    width: 30%;
    text-align: justify;
    font-family: helvetica;
    font-size: 13pt;
	margin-top: 15%;
}

.col-6 {
  width: 30%;
  text-align: justify;
  font-family: helvetica;
  font-size: 13pt;
  margin-top: 15%;
}

.col-5 {
  width: 30%;
  text-align: justify;
  font-family: helvetica;
  font-size: 13pt;
  margin-top: 15%;
}

.col-7 {
	width: 33%;
    text-align: justify;
    font-family: helvetica;
    font-size: 13pt;
	margin-top: 4%;
}

.col-8 {
	width: 33%;
    text-align: justify;
    font-family: helvetica;
    font-size: 13pt;
	margin-top: 4%;
}

.col-9 {
	width: 33%;
    text-align: justify;
    font-family: helvetica;
    font-size: 13pt;
	margin-top: 4%;
}

h1 {
transform: rotate(90deg);
font-size: 64pt;
font-family: 'windsor';
color: red;
text-shadow: 3px 3px black;
line-height:20pt;
position:absolute;
top:41%;
left:1.8%;
}

h2 {
transform: rotate(90deg);
font-size: 30pt;
font-family: 'windsor';
color: #fbd92c;
text-shadow: 2px 2px black;
line-height: 4pt;
position:absolute;
top:68%;
left:7%;
}

h3 {
font-size: 25pt;
font-family: 'windsor';
}

.caption {
font-size: 8pt;
font-family: 'helvetica', sans-serif;
font-style: italic;
text-align: left;
color: white;
padding-left:2%;
margin-top:-2%;
}

.p-mou {
font-size: 14pt;
font-family: 'helvetica', sans-serif;
text-align: justify;
padding:2%;
color: white;
}

@media (max-width: 500px) {
  body {
    background-color:#fbd92c;
	}
	h1{
	line-height: 1pt;
    font-size: 49pt;
	}
	h2{
	color: white;
	line-height: 25pt;
    font-size: 24pt;
    float: none;
    margin-left: 57%;
    margin-top: 117%;
	}
  .col-2{
    font-size: 10pt;
    position: absolute;
    left: 25.5%;
    top: 32%;
    transform: rotate(-90deg);
	}
  .col-3{
	width: 91%;
    text-align: justify;
    font-size: 13pt;
    position: absolute;
    left: 5%;
    top: 21%;
	}
  .col-6{
	width: 91%;
    text-align: justify;
    font-size: 13pt;
    position: absolute;
    left: 5%;
    top: 75%;
	}
	.col-5{
	width: 91%;
    text-align: justify;
    font-size: 13pt;
    position: absolute;
    left: 5%;
    top: 115%;
	}
  .row-2{
	width: 900%;
    margin-top: 227%;
    margin-left: -6%;
  }

  .col-7{
  	margin-top: 3%;
    margin-left: 2%;
    margin-right:3%;
  }
    .col-8{
  	margin-top: 3%;
  	margin-left: 0%;
  }
    .col-9{
  	margin-top: 3%;
  	margin-left: 2%;
  }

  a{
  margin-left: -13%;
  }
}
