
@font-face {
  font-family: 'windsor';
  src: url('../font/windsor.woff2') format('woff2'),
       url('../font/windsor.woff') format('woff');
  font-style: normal;
}

.column{
  float: left;
}

.row{
display: flex;
}

.row-2{
display: flex;
width: 260%;
background-color:black;
margin-top:5%;
margin-left:-1%;
}

.link{
font-family: 'windsor';
font-size: 25pt;
color: white;
text-decoration: none;
position: absolute;
left:45%;
right:30%;
}

.link:hover{
font-size: 25pt;
color: red;
font-style: italic;
text-decoration: underline;
}

img {
	filter: gray;
	-webkit-filter: grayscale(1);
	-webkit-transition: all .4s ease-in-out;  
}

img:hover {
	filter: none;
	-webkit-filter: grayscale(0);
	-webkit-transform: scale(1.01);
}

.col {
  padding-left: 10px;
  padding-right: 10px;
  border: 2px red;
}

.col-2 {
    width: 30%;
    text-align: right;
    font-family: helvetica;
    font-size: 13pt;
}

.col-3 {
    width: 30%;
    text-align: justify;
    font-family: helvetica;
    font-size: 13pt;
	margin-top: 15%;
}

.col-6 {
  width: 30%;
  text-align: justify;
  font-family: helvetica;
  font-size: 13pt;
  margin-top: 15%;
}

.col-7 {
	
	width: 33%;
    text-align: justify;
    font-family: helvetica;
    font-size: 13pt;
	margin-top: 4%;
}

.col-8 {
	width: 33%;
    text-align: justify;
    font-family: helvetica;
    font-size: 13pt;
	margin-top: 4%;
}

.col-9 {
	width: 33%;
    text-align: justify;
    font-family: helvetica;
    font-size: 13pt;
	margin-top: 4%;
}

h1 {
transform: rotate(90deg);
font-size: 64pt;
font-family: 'windsor';
color: red;
text-shadow: 3px 3px black;
line-height:20pt;
position:absolute;
top:41%;
left:1.8%;
}

h2 {
transform: rotate(90deg);
font-size: 30pt;
font-family: 'windsor';
color: #fbd92c;
text-shadow: 2px 2px black;
line-height: 4pt;
position:absolute;
top:68%;
left:7%;
}

h3 {
font-size: 25pt;
font-family: 'windsor';
}

.caption {
font-size: 8pt;
font-family: 'helvetica', sans-serif;
font-style: italic;
text-align: left;
color: white;
padding-left:2%;
margin-top:-2%;
}

.p-mou {
font-size: 14pt;
font-family: 'helvetica', sans-serif;
text-align: justify;
padding:2%;
color: white;
}

